openapi: 3.0.0
info:
  title: SimpleBudgetServer API
  description: This is the api definition for the SimpleBudgetServer
  version: 1.0.0
servers:
  - url: https://api.meshanthony.name.ng/api/budget
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
  responses:
    statusUnauthorized:
      description: Unauthorized, api key is missing or invalid
    statusParentNotFound:
      description: Parent account, does not exists
  schemas:
    AccountInfo:
      type: object
      properties:
        account_id:
          type: integer
          format: int64
          example: 27438199
        parent_id:
          type: integer
          format: int64
          example: 424553222
        user_id:
          type: integer
          format: int64
          example: 13131331
        name:
          type: string
          example: Example Bank Savings
        balance:
          type: number
          format: double
          example: 733000
        balance_limit:
          type: number
          format: double
          example: 34012309
        currency:
          type: string
          example: NGN
        type:
          type: string
          example: Bank
        description:
          type: string
          example: Joseph's savings allowance
        created_at:
          type: string
          example: 2025-08-07
        updated_at:
          type: string
          example: 2025-08-08
    TransactionResponse:
      type: object
      properties:
        transaction_id:
          type: integer
          format: int64
          example: 349023932
        description:
          type: string
          example: Payment for food
        deposit:
          type: number
          format: double
          example: 0
        withdrawal:
          type: number
          format: double
          example: 5000
        balance:
          type: number
          format: double
          example: 500000 
        created_at:
          type: string
          example: 2025-08-10
        updated_at:
          type: string
          example: 2025-08-10
paths:
  /user:
    post:
      summary: Create a new user account
      description: Creates new user account with an email and password.
      parameters:
        - in: query
          name: name
          description: The name of the new account user
          required: true
          schema:
            type: string
          example: John Doe
        - in: query
          name: email
          description: The email address of the new account
          required: true
          schema:
            type: string
          example: johndoe@example.com
        - in: query
          name: password
          description: The password of the new account
          required: true
          schema:
            type: string
          example: JohnDoe123
        - in: query
          name: telegram_username
          description: optional telegram username to receive notifications through telegram
          schema:
            type: string
          example: BotFather
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                    format: int64
                    example: 12132424
                  name:
                    type: string
                    example: John Doe
                  email:
                    type: string
                    example: johndoe@example.com
        '400':
          description: Email or password missing | Invalid email or password format | Account exists
  /api_key:
    post:
      summary: Create new api key
      description: Creates a new api key for an account, the api key would be used access various money management services.
      parameters:
        - in: query
          name: name
          description: The name of the api key
          required: true
          schema:
            type: string
          example: main
        - in: query
          name: email
          description: The email address of the new account
          required: true
          schema:
            type: string
          example: johndoe@example.com
        - in: query
          name: password
          description: The password of the new account
          required: true
          schema:
            type: string
          example: JohnDoe123
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                    format: int64
                    example: 999990000
                  name:
                    type: string
                    example: main
                  key:
                    type: string
                    example: e04d3a4e40b743f0bf6b68f18e829d97
                  created_at:
                    type: string
                    example: 2025-07-05
        '400':
          description: Invalid request | Name of api key exists, use another
        '401':
          description: Unauthorized, invalid email or password
  /api_key/{api_key}:
    delete:
      summary: Revoke an api key
      description: Revokes an api key from an account, it renders an api key tied to account invalid.
      parameters:
        - in: path
          name: api_key
          description: The api key to be removed, can also be the name of the api key
          required: true
          schema:
            type: string
          example: e04d3a4e40b743f0bf6b68f18e829d97
        - in: query
          name: email
          description: The email address of the new account
          required: true
          schema:
            type: string
          example: johndoe@gmail.com
        - in: query
          name: password
          description: The password of the new account
          required: true
          schema:
            type: string
          example: JohnDoe123
      responses:
        '200':
          description: Successful
        '400':
          description: Invalid request | Api key or name does not exist
        '401':
          description: Unauthorized, invalid email or password
  /account:
    post:
      security:
        - apiKey: []
      summary: Create a new account
      description: Creates a new account with addional options, if no parent account is set then the account is created as a sub account of the root account.
      requestBody:
        description: Create a new account with options
        required: true
        content:
          application/json:
            schema:
              type: object
              required: 
                - name
              properties:
                parent_id:
                  type: integer
                  format: int64
                  example: 430209348
                name:
                  type: string
                  example: Savings
                opening_balance:
                  type: integer
                  format: int64
                  example: 999999
                balance_limit:
                  type: integer
                  format: int64
                  example: 999999
                currency:
                  type: string
                  example: NGN
                type:
                  type: string
                  example: Bank
                description:
                  type: string
                  example: My Savings Account
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInfo"
        '400':
          description: Invalid request
        '401':
          $ref: "#/components/responses/statusUnauthorized"
        '404':
          $ref: "#/components/responses/statusParentNotFound"
    get:
      security:
        - apiKey: []
      summary: Get all accounts
      description: Gets all accounts.
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountInfo"
        '204':
          description: No accounts found
        '401':
          $ref: "#/components/responses/statusUnauthorized"
  /account/{account_id}:
    get:
      security:
        - apiKey: []
      summary: Get account info
      description: Gets account info from a specified account.
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: integer
            format: int64
          example: 7977979
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInfo"
        '401':
          $ref: "#/components/responses/statusUnauthorized"
        '404':
          description: Account does not exist
    patch:
      security:
        - apiKey: []
      summary: Update account options
      description: Updates specified account options
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: integer
            format: int64
          example: 27438199
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_id:
                  type: integer
                  format: int64
                  example: 430209348
                name:
                  type: string
                  example: Savings
                balance:
                  type: integer
                  format: int64
                  example: 999999
                balance_limit:
                  type: integer
                  format: int64
                  example: 999999
                currency:
                  type: string
                  example: NGN
                type:
                  type: string
                  example: Bank
                description:
                  type: string
                  example: My Savings Account
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AccountInfo"
                type: object
                properties:
                  balance:
                    type: number
                    format: double
                    example: 259233.11
                  type:
                    type: string
                    example: Asset
                  currency:
                    type: string
                    example: USD
                  description:
                    type: string
                    example: My Assets Account
                  parent_id:
                    type: integer
                    format: int64
                    example: 27438199
                  balance_limit:
                    type: number
                    format: double
                    example: 13000000
        '401':
          $ref: "#/components/responses/statusUnauthorized"
        '404':
          description: Account does not exist
    delete:
      security:
        - apiKey: []
      summary: Delete an account
      description: Delete an account
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: integer
            format: int64
          example: 27438199
      responses:
        '200':
          description: Successful
        '401':
          $ref: "#/components/responses/statusUnauthorized"
        '404':
          description: Account does not exist
  /account/{account_id}/accounts:
    get:
      security:
        - apiKey: []
      summary: Get all sub accounts
      description: Gets all sub accounts from the specified account.
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: integer
            format: int64
          example: 7977979
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountInfo"
        '401':
          $ref: "#/components/responses/statusUnauthorized"
        '404':
          description: Account does not exist
  /account/{account_id}/transactions:
    get:
      security:
        - apiKey: []
      summary: Get account transactions
      description: Gets account transactions if no transaction id is specified, Gets in 100 transaction blocks where starting point is specified by the offset
      parameters:
        - in: path
          name: account_id
          required: true
          description: The account id of the account to be modified
          schema:
            type: integer
            format: int64
          example: 23909394
        - in: query
          name: search
          description: Fetch a list of transactions that belongs to a particular search query
          schema:
            type: string
          example: food
        - in: query
          name: date_range
          description: "Fetch a list of transactions from a particular date range"
          schema:
            type: string
          example: "2025-08-01;2025-08-07"
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TransactionResponse"
        '204':
          description: No transactions found
        '401':
          $ref: "#/components/responses/statusUnauthorized"
    post:
      security:
        - apiKey: []
      summary: Add new transaction
      description: Adds a new transaction
      parameters:
        - in: path
          name: account_id
          required: true
          description: The account id of the account to be modified
          schema:
            type: integer
            format: int64
          example: 23909394
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  example: Payment for food
                deposit:
                  type: number
                  format: double
                  example: 0
                withdrawal:
                  type: number
                  format: double
                  example: 5000
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TransactionResponse"
        '400':
          description: Invalid request
        '401':
          $ref: "#/components/responses/statusUnauthorized"
        '404':
          description: Account does not exist
  /account/{account_id}/transactions/{transaction_id}:
    delete:
      security:
        - apiKey: []
      summary: Delete an existing transaction
      description: Delete an existing transaction by specifying the transaction id
      parameters:
        - in: path
          name: account_id
          required: true
          description: The account id of the account to be modified
          schema:
            type: integer
            format: int64
          example: 23909394
        - in: path
          name: transaction_id
          required: true
          description: The transaction id of the transaction to be deleted
          schema:
            type: integer
            format: int64
          example: 898238231
      responses:
        '200':
          description: Successful
        '401':
          $ref: "#/components/responses/statusUnauthorized"
        '404':
          description: Account or transaction does not exist
  /account/{account_id}/budget:
    get:
      security:
        - apiKey: []
      summary: Get a budget in a specified account
      description: updates or creates a new budget in a specified account
      parameters:
        - in: path
          name: account_id
          required: true
          description: The account id of the account to be budgetted
          schema:
            type: integer
            format: int64
          example: 23909394
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  budget_id:
                    type: integer
                    format: int64
                    example: 1
                  name:
                    type: string
                    example: Monthly budget
                  description:
                    type: string
                    example: Budget when using Example Bank
                  entities:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        amount:
                          type: number
                    example:
                      - description: For rent
                        amount: 700000
                      - description: For food
                        amount: 550000
                      - description: For investments
                        amount: 90000000
        '401':
          $ref: "#/components/responses/statusUnauthorized"
        '404':
          description: Account does not exist
    put:
      security:
        - apiKey: []
      summary: update or create a new budget in a specified account
      description: updates or creates a new budget in a specified account
      parameters:
        - in: path
          name: account_id
          required: true
          description: The account id of the account to be budgetted
          schema:
            type: integer
            format: int64
          example: 23909394
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Monthly budget
                description:
                  type: string
                  example: Budget when using Example Bank
                entities:
                  type: array
                  items:
                    type: object
                    properties:
                      description:
                        type: string
                      amount:
                        type: number
                  example:
                    - description: For rent
                      amount: 700000
                    - description: For food
                      amount: 550000
                    - description: For investments
                      amount: 90000000
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TransactionResponse"
        '400':
          description: Invalid request
        '401':
          $ref: "#/components/responses/statusUnauthorized"
        '404':
          description: Account does not exist
    delete:
      security:
        - apiKey: []
      summary: delete budget in a specified account
      description: delete budget in a specified account
      parameters:
        - in: path
          name: account_id
          required: true
          description: The account id of the account that has been budgetted
          schema:
            type: integer
            format: int64
          example: 23909394
      responses:
        '200':
          description: Successful
        '401':
          $ref: "#/components/responses/statusUnauthorized"
        '404':
          description: Account does not exist
  /notifications:
    get:
      security:
        - apiKey: []
      summary: Get account notifications
      description: Get account notifications, including transactions alert, buget usage alerts e.t.c, by default it polls for new notifications using long polling but the query parameter `all` can be used to fetch all past notifications.
      parameters:
        - in: query
          name: all
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    notification_id:
                      type: integer
                      format: int64
                      example: 83884949
                    user_id:
                      type: integer
                      format: int64
                      example: 4930434
                    source:
                      type: string
                      enum:
                        - budget
                        - account
                        - transaction
                    source_id:
                      type: integer
                      example: 43820804
                    content:
                      type: string
                      example: You have passed your budget
                    date:
                      type: string
                      example: 2025-08-06
        '204':
          description: No new notifications
        '400':
          description: Invalid request
        '401':
          $ref: "#/components/responses/statusUnauthorized"